[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
celery = "*"
crispy-bootstrap5 = "*"
django-mptt = "*"

[dev-packages]
