{% extends "_base.html" %}

{% block content %}
    <div class="container my-4">

        <div class="row">
            <div class="col-4">
                <img src="/media/{{product.cover}}" alt="{{product.name}}" class="w-50">
            </div>
            <div class="col-8">
                
                <h1>{{product.name}}</h1>

                <p>
                    {{product.description}}
                </p>
                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p>
                                <span>{{product.price}}</span>
                                <span>تومان</span>
                            </p>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group my-4">
                                {{cartForm}}
                            </div>
                            
                            <button class="btn btn-primary block">Add to cart</button>
                        </form>
                    </div>
                </div>
                

            </div>
        </div>
        
    </div>
{% endblock content %}