{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-4">
        <div class="row my-4">
            <h3>{% block title %}مشخصات سفارش شما{% endblock title %}</h3>
        </div>
        
        <div class="row">

            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{order_form | crispy}}
                    <div class="d-grid">
                        <button class="btn btn-dark" type="submit">ثبت سفارش</button>
                    </div>
                </form>
            </div>

            <div class="col">
                <div class="bg-light pt-3 rounded">
                    <p class="px-4 fs-5 fw-semibold">سفارش شما</p>
                    <ul>
                        {% for item in cart %}
                        <li class="list-group-item d-flex justify-content-between align-items-start px-4">
    
                            <div class="">
                                {{item.quantity}} عدد {{item.product.name}}
                            </div>
                            <div class="">
                                <span class="badge text-bg-primary rounded">{{item.total_price}}</span>
                                <span class="badge text-bg-primary rounded">تومان</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="text-center p-2 rounded text-white fw-bold bg-primary">
                        <span class="">{{cart.get_total_price}}</span>
                        <span class="">تومان</span>
                    </p>
                </div>
            </div>
            
        </div>

    </div>

{% endblock content %}